@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3A404E;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

a:hover {
    color: #8e2424;
}

img {
    -webkit-transition: .5s all ease-in;
}

img:hover {
    transform: scale(1.05);
    transition: .5s all ease-in-out;
    cursor: pointer;
}
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

/* HEADER */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
}

.logo-img-text {
    display: inline-flex;
    align-items: center;
}

.logo-img {
    padding-right: 10px;
}

.logo p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

#nav {
    margin-right: 10%;
}

#menu {
    display: flex;
    flex-direction: row;
}

#nav a:hover {
    color: #8e2424;
    font-weight: 600;
}

nav ul li {
    display: flex;
    padding: 0 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.login {
    display: flex;
    align-items: center;
}

.login-entrar {
    padding-right: 15px;
}

button {
    background-color: #8E2424;
    color: white;
    width: 112px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    font-weight: 500;
}

button:hover {
    background-color: #FFF;
    color: #8E2424;
}

/* Banner */

.container-about {
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.container-about .title-about {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.title-about {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.container-about h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
}

.container-about p {
    width: 791px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A404E;
}

/* METRICS  */

#metrics {
    padding: 0px 0px 96px;
    gap: 64px;
}

.container-metrics {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 90%;
    margin: 0 auto;
    height: 192px;
    gap: 20px;
    justify-content: space-around;
}

.container-metrics h2 {
    color: #8E2424;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.column {
    width: 280px;
    height: 168;
    gap: 12px;
}

.text-column {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    line-height: 28px;
}

/* VACANCIES */

#vacancies {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 64px;
}

.vacancies-header {
    width: 1280px;
    height: 602px;
    gap: 64px;
}

.vacancies-header p{
    margin: 0 auto;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px;
    width: 125px;
    height: 28px;
    text-align: center;
    color: #8E2424;
}

.vacancies-header h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
}

.vacancies-header h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}

.vacancies-header img{
    padding-top: 5%;
}

.container-vacancies {
    width: 1280px;
    height: 940px; 
}

.container-vacancies h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
    text-align: left;
    padding-left: 300px;
    padding-top: 30px;
}

.container-vacancies p {
    text-align: left;
}

.container-vacancies .items {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    width: 600px;
    padding: 24px 24px 28px;
    margin: 20px;
    margin-left: 300px;
    -webkit-transition: .5s all ease-in;
}

.container-vacancies .items:hover {
    box-shadow: 0px 0px 15px 0px #888888;
    transition: 0.4s;
}

.container-vacancies h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.info-area {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/* DEPOSITIONS */

#depositions {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 96px;
}

.container-depositions {
    display: flex;
    height: 500px;
    width: 1440px;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.container-depositions h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    width: auto;
    background: #F9FAFB;
    gap: 40px;
}

footer p {
    text-align: center;
    gap: 40px;
}

.container-footer {
    height: 182px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
}

.container-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

input {
    background-color: #fff;
    height: 44px;
    width: 250px;
    gap: 8px;
    padding-left: 15px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.copyright p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #98A2B3;
    text-align: center;
}