@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3A404E;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

/* HEADER */

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
}

.logo-img-text {
    display: inline-flex;
    align-items: center;
}

.logo-img {
    padding-right: 10px;
}

.logo p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

#nav {
    margin-right: 10%;
}

#menu {
    display: flex;
    flex-direction: row;
}

#nav a:hover {
    color: #8e2424;
    font-weight: 600;
}

nav ul li {
    display: flex;
    padding: 0 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.login {
    display: flex;
    align-items: center;
}

.login-entrar {
    padding-right: 15px;
}

button {
    background-color: #8E2424;
    color: white;
    width: 112px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    font-weight: 500;
}

/* Banner */

.container-about {
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

.container-about .title-about {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #8E2424;
}

.container-about h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #101828;
}

.container-about p {
    width: 791px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3A404E;
}

/* METRICS  */

#metrics {
    padding: 0px 0px 96px;
    gap: 64px;
    height: 288px;
}

.container-metrics {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 90%;
    margin: 0 auto;
    height: 192px;
    gap: 20px;
    justify-content: space-around;
}

.container-metrics h2 {
    color: #8E2424;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}

.column {
    width: 280px;
    height: 168;
    gap: 12px;
}

.text-column {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    line-height: 28px;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;
    width: auto;
    height: 430px;
    background: #F9FAFB;
}

footer p {
    text-align: center;
}

.container-footer {
    height: 182px;
    gap: 32px;
}

.email-container {
    display: flex;
}

label {
    background-color: #fff;
    height: 44px;
    width: 360px;
    gap: 8px;
    padding: 12px 14px 12px 16px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}

.copyright p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
    text-align: center;
}